
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> List of all available courses</h1>
    <hr/>
    <div class="container">
    {% if courseList %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
                {% for c in courseList %}
                <tr>
                  <th scope="row">1</th>
                  <td> {{ c.cname }}</td>
                  <!--<td> <img src="{{ c.cimg.url }}" class="img-thumbnail" /></td>-->
                </tr>
                 {% endfor %}    
            </tbody>
        </table>
    </div> 
    {% else %}
    <h3> No courses to display </h3>
    
    {% endif %}
    
    </div>
